<!DOCTYPE html>
<html>
<head>
  <title>Log In</title>

</head>
<body>
  <h1>Register</h1>
  <form action='/reg' method='POST'>
    <label for="email">Email:<input type="text" name="email" id="first_name"></label>
    <label for="first_name">First Name:<input type="text" name="firstname" id="first_name"></label>
    <label for="last_name">Last Name:<input type="text" name="lastname" id="last_name"></label>
    <label for="password">Password:<input type="text" name="password" id="occupation"></label>
    <input type="submit" value="Register">
  </form>
</body>
</html>
