<html>
<head>
  <title>Email Validation</title>
</head>
<body>
	{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> <p>{{message}}</pcopy>
      </div>  
      {% endfor %}
    {% endif %}
  {% endwith %}
  <form action='/validation' method='POST'>
    Email:<input type="text" name="email" id="email">
    <input type="submit" value="Add">
  </form>
</body>
</html>
